<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.DetailMapper">

    <insert id="addAnswer" parameterType="vip.xiaozhao.intern.baseUtil.intf.entity.Answer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO answer (user_id,
                            question_id,
                            content,
                            urls)
        VALUES (#{userId},
                #{questionId},
                #{content},
                #{urls})
    </insert>

    <select id="getQuestionDetailById" resultType="vip.xiaozhao.intern.baseUtil.intf.vo.QuestionDetailVo"
            parameterType="int">
        SELECT id,
               user_id,
               title,
               type,
               content,
               urls,
               answers,
               browses,
               add_time
        FROM question
        WHERE id = #{id}
    </select>

    <select id="listAnswersByIdAndHeat" resultType="vip.xiaozhao.intern.baseUtil.intf.vo.AnswerDetailVo">
        SELECT id,
               user_id,
               question_id,
               content,
               urls,
               likes,
               favorites,
               comments,
               add_time
        FROM answer
        ORDER BY heat DESC LIMIT #{limit}
        OFFSET #{offset};
    </select>

    <select id="listAnswersByIdAndAddTime" resultType="vip.xiaozhao.intern.baseUtil.intf.vo.AnswerDetailVo">
        SELECT id,
               user_id,
               question_id,
               content,
               urls,
               likes,
               favorites,
               comments,
               add_time
        FROM answer
        ORDER BY add_time DESC LIMIT #{limit}
        OFFSET #{offset};
    </select>

</mapper>