<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.QuestionMapper">
    <!-- 定义结果映射 -->
    <resultMap id="TopicResultMap" type="vip.xiaozhao.intern.baseUtil.intf.entity.Topic">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="name" column="name"/>
        <result property="follows" column="follows"/>
        <result property="questions" column="questions"/>
    </resultMap>

    <!-- 查询语句 -->
    <select id="getTopicsByName" resultMap="TopicResultMap">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE name like concat('%', #{name}, '%')
    </select>

</mapper>