<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.TopicMapper">

    <select id="getTopicsByName" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE name like concat('%', #{name}, '%')
    </select>

    <select id="getTopicById" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE id = #{id}
    </select>
    <select id="getTopicByName" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic"
            parameterType="java.lang.String">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE name = #{name}
    </select>

    <insert id="insertTopic" parameterType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO topic (url, name)
        VALUES (#{url}, #{name})
    </insert>

</mapper>