<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.TopicMapper">

    <select id="getTopicsByName" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE name like concat('%', #{name}, '%')
    </select>

    <select id="getTopicByIdAndName" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic">
        SELECT id, url, name, follows, questions
        FROM topic
        WHERE 1=1
        <if test="id != null and id != -1">
            AND id = #{id}
        </if>
        <if test="name != null and name != ''">
            AND name = #{name}
        </if>
    </select>

    <insert id="insertTopic" parameterType="vip.xiaozhao.intern.baseUtil.intf.entity.Topic" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO topic
        <set>
            <if test="url != null">url = #{url},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="follows != null">follows = #{follows},</if>
            <if test="questions != null">questions = #{questions},</if>
        </set>
    </insert>

</mapper>